a {
  cursor: pointer;
}

html,
body {
  background: white;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, p {
  font-family: 'Lato', sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 0%;
  font-size: 24pt;

}

#title{
  background-color: #02323B;
  color: white;
  padding-top: .1pt;
  padding-bottom: 1pt;
  vertical-align: center;
  font-weight: 0pt;
}

h2{
  font-size: 18pt;
  margin-top: 1%;
  color: #FCA375;
}

p {
  margin-top: 1%;
  font-size: 12pt;
  color:black;}

#app {  margin-top: 1%;
  /* change margin-left if proportion plot is too far right */
  margin-left: 10%;
  margin-right: 2%;
  margin-bottom: 1%;
  height: 105%;
  display:flex;
justify-content: space-around;
align-content:center;
}

#left-box {
  margin-left: 5%;
  margin-right: 1%;
  height: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 60px;
  padding-bottom: 10px;
}

#filters { border:1px solid black;
  margin-left: -10px;
  padding-left: 10px;
  margin-right: -10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;

}

#left-1, #left-2 {
  margin-top: 5pt;
}

#left-3, #left-4, #left-5 {
  position: relative;
}

#right-box {  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
  width: 825px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: space-around;
}

#right-top {  margin-left: 1%;
  margin-right: 1%;
  height: 660px;
  width: 825px;}

#right-bottom {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 14pt;
  width: 600px;
  text-align: center;
}

#right-bottom2 {
  margin-top: 1%;
  margin-left: 1%;
  font-size: 8pt;
  margin-right: 1%;
  width: 700px;
  color:gray;
  display: flex;
}

#footer{
background-color: lightgray;
text-align: left;
padding-left: 2%;
padding-top: 5pt;
padding-bottom: 5pt;
width: 100%;
left:0px;
bottom:0px;
}

#tooltip {
  font-family: sans-serif;
  font-size: 8pt;
  background: lightgray;
  color: black;
  padding: 5px;
  max-width: 200px;
  border-color: black;

}

.prop-label{
  font-family: sans-serif;
  font-size: 10pt;
  line-height: 1.5;
  width: 5px;
}

.annotation{
  font-family: sans-serif;
  font-size: 8pt;
  background-color: white;
  padding-top: 2pt;
  margin-top: 2pt;
  text-align: center;
}

.legend-title{
  font-family: 'Lato';
  display: flex;
  font-size: 11pt;
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.chart-title{
  font-family: 'Lato';
  font-size: 14pt;
  line-height: 1.5;
  color: black;
  font-weight: bold;
}

.chart-title-small{
  padding-top: 2px;
  font-family: 'Lato';
  font-size: 12pt;
  line-height: 1.5;
  color: black;
}

.footnote {
  font-family: sans-serif;
  font-size: 8pt;
  color:gray;
  font-weight: lighter;
}

.N_SWD, .N_FRL, .N_EL, .ASIAN {
  fill: #34495e;
  stroke: black;
  stroke-width: 2pt;
}

.SWD, .MALE, .NHPI{
  fill: #D17A22;
  stroke: black;
  stroke-width: 2pt;
}

.FRL, .AIAN{
  fill:#e74c3c;
  stroke: black;
  stroke-width: 2pt;
}

.TWO {
  fill: #95a5a6;
  stroke: black;
  stroke-width: 2pt;
}

.HISPANIC {
  fill: #3498db;
  stroke: black;
  stroke-width: 2pt;
}

.WHITE,.FEMALE{
  fill: #2ecc71;
  stroke: black;
  stroke-width: 2pt;
}

.BLACK,.EL {
  fill: #9b59b6;
  stroke: black;
  stroke-width: 2pt;
}

.tooltip {
  position: absolute;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font: 12px sans-serif;
  background: #d4d4d4;
  border-radius: 5px;
  pointer-events: none;
  max-width: 250px;
  min-width: 100px;
}

.help-button{
  fill: #d3d3d3;
  stroke-width: 2px;
  stroke: black;

}

.help-text{
  font-size: 10pt;
  fill: black;

}

.help-tooltip {
  position: absolute;
  text-align: left;
  align-content: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  font: 12px sans-serif;
  background: #d4d4d4;
  border-radius: 5px;
  pointer-events: none;
  width: 250px;
}
