a {
  cursor: pointer;
}

html,
body {
  background: white;
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, p {
  font-family: 'Lato', sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 0%;
  font-size: 24pt;
  color: #02323B;
  color: #FCA375;
}

h2{
  font-size: 16pt;
  margin-top: 2%;
}

p {
  margin-top: 1%;
  font-size: 12pt;
  color:black;}

#app {  margin-left: 2%;
  margin-right: 2%;
  margin-top: .5%;}

.rect {
  fill:deepskyblue;
}

.first {
  fill: red;
  stroke: black;
}

.second {
  fill: orange;
  stroke: black;
}

.third {
  fill:yellow;
  stroke: black;
}

.fourth {
  fill: green;
  stroke: black;
}

.fifth {
  fill: blue;
  stroke: black;
}

.sixth {
  fill: indigo;
  stroke: black;
}

.seventh {
  fill: violet;
  stroke: black;
}