*{
  border: 2px solid red;
}

a {
  cursor: pointer;
}

html,
body {
  background: white;
  font-family: 'Lato', sans-serif;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  width: 100%;
}

h1, h2, p {
  font-family: 'Lato', sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  margin-bottom: 0%;
  font-size: 24pt;
  color: #02323B;
  color: #FCA375;
}

h2{
  font-size: 18pt;
  margin-top: 2%;
}

p {
  margin-top: 1%;
  font-size: 12pt;
  color:black;}

#app {  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  height: 650px;
  border-color: blue;
display:flex;
justify-content: center;}


#left-box {  margin-left: 1%;
  margin-right: 1%;
  height: 650px;
  border-color: blue;
  display: flex;
  flex-direction: column;
}

#right-box {  margin-left: 1%;
  margin-right: 1%;
  height: 650px;
  border-color:green;
  width: 825px;
}

.pct-dot {
  fill: steelblue;
  stroke-width: 1px;
  stroke: black;
}
.prop-label{
  font-family: sans-serif;
  font-size: 10pt;
  line-height: 1.5;
  color: black;
}

.annotation{
  font-family: sans-serif;
  font-size: 8pt;
}

.legend-title{
  font-family: 'Lato';
  display: flex;
  font-size: 11pt;
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.chart-title{
  font-family: 'Lato';
  font-size: 14pt;
  line-height: 1.5;
  color: black;
  font-weight: bold;
}

.chart-title-small{
  font-family: 'Lato';
  font-size: 12pt;
  line-height: 1.5;
  color: black;
  font-weight: bold;
}

.footnote {
  font-family: 'Lato';
  font-size: 8pt;
  line-height: 1.5;
  color: darkslategray;
  font-weight: lighter;
}

.rect {
  fill:deepskyblue;
}

.first {
  fill: red;
  stroke: black;
}

.second {
  fill: orange;
  stroke: black;
}

.third {
  fill:yellow;
  stroke: black;
}

.fourth {
  fill: green;
  stroke: black;
}

.fifth {
  fill: blue;
  stroke: black;
}

.sixth {
  fill: indigo;
  stroke: black;
}

.seventh {
  fill: violet;
  stroke: black;
}